/* --- IMPORTS --- */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Fredoka:wght@300..700&family=Spicy+Rice&display=swap');


/* --- VARIABLES --- */
:root {

    /* COLORS */
    --primaryColor: #990000;
    --secondaryColor: #D2691E;
    --accentColor1: #eec6446c;
    --accentColor2: #eec644;
    --disableButtonColor: silver;
    --backgroundColor: #e9e5ce;
    --baseTextDarkColor: #292422;
    --baseTextLightColor: #f5f5e7;


    /* TEXT  */
    --titleSizeMobile: 2.5rem;
    --baseTextSizeMobile: .9rem;

    /* SPACING */
    --gapSpacingMobile: 12px;
    --gapSpacingDesktop: 32px;


    /* DETAILS */
    --borderRadius: 6px;
    --round: 50%;
    --shadow: 3px 3px 8px gray;
}

/* --- UTILLITIES --- */
*,
*::after,
*::before {
    box-sizing: border-box;
}

.fullWidth {
    grid-column: 1/-1;
}

.hidden {
    display: none;
}

/* --- GENERALS --- */
html {
    font-family: "Fredoka", sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 10px;
    background: var(--primaryColor);
    outline: dashed 2px var(--secondaryColor);
    outline-offset: -7px;

}

main {
    display: grid;
    grid-template-columns: 15px repeat(4, 1fr) 15px;

}

section {
    grid-column: 2/-2;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: var(--borderRadius);
}


/* --- TEXT --- */
h1,
h2,
h3,
h4,
h5,
h6 {
    grid-column: 2 / -2;
    font-family: "Acme", system-ui;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: var(--primaryColor);
}

h2 {
    font-size: 1.8rem;
    color: var(--primaryColor);
    text-align: center;
    margin: 15px;

}

h3 {
    font-size: 1rem;
    margin: 0px;
    color: var(--baseTextDarkColor);
    letter-spacing: 1px;
}

p {
    margin: 0 0 10px 0;
    color: var(--baseTextDarkColor);
    grid-column: 2 / -2;
}

/* --- BUTTONS --- */
button {
    cursor: pointer;
}

a .btn {
    background: var(--interactableColor);
    padding: var(--standardSpacing) var(--mediumSpacing);
    text-decoration: none;
    text-transform: uppercase;
}

a .btn:hover {
    background: var(--hoverButtonColor);
    transform: scale(1.1);
}

/**** HEADER ****/
.logo,
.logo h1 {
    font-family: "Spicy Rice", system-ui;
    font-size: 50px;
    text-align: center;
    text-decoration: none;
    color: var(--baseTextLightColor);
    display: block;
    filter: drop-shadow(2px 2px 2px var(--secondaryColor));
    font-weight: 400;
    text-transform: unset;
    margin: 0;

}

.desktopNav {
    display: none;
}

.mobileNav {
    position: relative;

    button {
        border: none;
        background: none;
        font-size: 25px;
        position: absolute;
        bottom: 15px;
        right: 10px;
        color: var(--baseTextLightColor);
    }

    .menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        z-index: 1000;
        background: var(--primaryColor);
        height: 100vh;
        width: 80%;
        right: -10px;
        top: 10px;
        padding: 10px;
        transform: translateX(300px);
        display: none;
        transition-duration: .3s;
        transition-property: display transform;
        transition-behavior: allow-discrete;

        a {
            color: var(--baseTextLightColor);
            text-decoration: none;
            padding: 8px 32px;
            font-size: 1.3rem;
        }

        h3 {
            color: var(--baseTextLightColor);
            padding: 8px 32px 0 32px;
            font-size: 1.5rem;
        }

    }

    .mobileMenuAnimation {
        transform: translateX(0px);
        display: flex;

        @starting-style {
            transform: translateX(300px)
        }
    }
}


/* CAROUSEL */
.carouselContainer {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carousel {
    height: 100%;
    width: 90%;

    padding: 0;
    margin: 0;
    position: relative;

    a {
        width: 100%;
        /* Fast bredde for container */
        height: 100%;
        background: #333;
        display: inline-block;
        transition: all .8s ease-in-out;
        margin: 0;
        background-position: center;
        background-size: cover;
        text-decoration: none;
        border-radius: var(--borderRadius);


        .movieInfo {
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
            height: 100%;
            padding: 16px;
            border-radius: var(--borderRadius);

            .movieTitle {
                font-size: 1.4rem;
                color: var(--baseTextLightColor);
            }

            .movieDescription {
                color: white;
                display: none;
            }
        }

    }


    .items {
        position: absolute;
    }

    .main-pos {
        z-index: 30;
        box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.5);
    }

    .left-pos {
        opacity: .3;
        margin-left: -20%;

        z-index: 10;
        transform: scale(.75);
    }

    .back-pos {
        margin-left: 2em;
        opacity: .05;
        transform: scale(.5);
    }

    .right-pos {
        opacity: .3;
        margin-left: 20%;
        z-index: 10;
        transform: scale(.75);
    }

}

.buttonContainer {
    position: relative;
    margin: 5px auto;
    display: block;
    text-align: center;

    button {
        background: none;
        border: none;
        font-size: 1.3rem;
        padding: 6px 12px;
        transition: .3s;
    }

}

/* GENRE CONTAINER  */
.genreContainer {
    margin: 10px 0;
    background: var(--accentColor1);
    padding: 15px;

    .seeMore {
        display: none;
    }

    .actionContainer,
    .comedyContainer,
    .crimeContainer,
    .documentaryContainer,
    .dramaContainer,
    .horrorContainer,
    .romanceContainer,
    .thrillerContainer,
    .warContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--gapSpacingMobile);

    }

    .genreHeader {
        margin: 10px 0;

        h2 {
            margin: 0;
        }

        p {
            text-align: center;
            margin: 0;
            font-size: .9rem;
            font-style: italic;
        }

        a {
            color: var(--secondaryColor);
            /* padding: 8px 16px; */
            display: block;
            text-align: center;
        }
    }

}

/* MOVIE CARD  */
.movieCard {
    display: block;
    height: 250px;
    width: 100%;
    text-decoration: none;
    border-radius: var(--borderRadius);
    box-shadow: var(--shadow);
    background-position: center;
    background-size: cover;
    position: relative;
    transition: .3s;

    .titleContainer {
        background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
        height: 100%;
        padding: 15px;
        display: flex;
        align-items: end;
        justify-content: center;
        border-radius: var(--borderRadius);

    }

    h3 {
        color: var(--baseTextLightColor);
        font-size: 1.5rem;
    }
}


/* SINGULAR MOVIE PAGE */

#moviePage {
    .backdrop {
        height: 50vh;
        mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
        border-radius: unset;
    }

    .movieTitle {
        position: absolute;
        bottom: 40vh;
        text-align: center;
        width: 92%;
        color: var(--baseTextDarkColor);
        font-size: 2.1rem;
    }

    .watchlistBtn {
        border: none;
        background: none;
        font-size: 2rem;
        width: 100%;

        i {
            color: var(--accentColor1);
            filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.575));
            transition: .3s;
        }

        p {
            font-size: .8rem;
            display: inline;
            margin-left: 8px;
        }

        .selected {
            color: var(--secondaryColor);
        }
    }

    .movieInfo {
        display: grid;
        grid-template-columns: 1fr 1.7fr;
        gap: var(--gapSpacingMobile);


        .movieMetadata {
            border-top: 2px solid var(--secondaryColor);
            padding-top: var(--gapSpacingMobile);
            grid-column: span 2;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            column-gap: var(--gapSpacingMobile);

            div {
                min-width: 40%;
            }
        }
    }

    .directorContainer,
    .actorContainer {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        gap: var(--gapSpacingMobile);

        .directorCard,
        .actorCard {
            width: 125px;
            flex: 0 0 auto;
            min-height: 250px;

            img {

                height: 125px;
            }
        }
    }
}

/* WATCHLIST */
.watchlist {
    h1 {
        margin-bottom: 0;
    }

    h2 {
        text-align: center;
    }

    .actionContainer,
    .comedyContainer,
    .crimeContainer,
    .documentaryContainer,
    .dramaContainer,
    .horrorContainer,
    .romanceContainer,
    .thrillerContainer,
    .warContainer {
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        gap: var(--gapSpacingMobile);

        .movieCard {
            width: 170px;
            flex: 0 0 auto;


        }
    }
}

@media screen and (min-width: 1200px) {

    main {
        grid-template-columns: 10% repeat(10, 1fr) 10%;
        gap: var(--gapSpacingDesktop);
    }

    .mobileNav {
        display: none;
    }

    .desktopNav {
        display: flex;
        gap: var(--gapSpacingDesktop);
        justify-content: center;
        align-items: center;
        min-height: 70px;

        a {
            font-size: 1.4rem;
            color: var(--baseTextLightColor);
            text-decoration: none;
            transition: .3s;
        }

        a:hover {
            font-size: 1.6rem;
            color: var(--accentColor2);
        }

        a.active {
            text-decoration: underline;
        }

        a:first-child {
            border-right: 2px solid var(--secondaryColor);
            padding-right: var(--gapSpacingDesktop);
        }
    }


    h2 {
        font-size: 2.5rem;
    }

    header .logo h1 {
        font-size: 5rem;
    }

    .carouselContainer {
        height: 60vh;

        .carousel {
            width: 75%;

        }

        .left-pos {
            margin-left: -25%;

        }

        .right-pos {
            margin-left: 25%;

        }

        button {
            font-size: 2rem;
        }

        button:hover {
            color: var(--secondaryColor);
            transform: scale(1.2);
        }

        a .movieInfo {
            background: linear-gradient(to right, rgba(0, 0, 0, .8) 40%, rgba(0, 0, 0, 0) 100%);
            width: 100%;
            height: 100%;
            padding: 50px;
            padding-right: 60%;

            .movieTitle {
                font-size: 2rem;
            }

            .movieDescription {
                display: block;
            }
        }
    }

    .genreContainer {
        padding: 25px 10%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: end;
        column-gap: var(--gapSpacingDesktop);


        .genreHeader {
            width: 20%;
        }

        .seeMore {
            grid-column: 1/-1;
            padding: 10px 18px;
            margin: 10px;
            justify-items: end;
            display: block;
            border-radius: var(--borderRadius);
            border: none;
            box-shadow: var(--shadow);
            background: var(--accentColor2);
            font-size: .8rem;
            transition: .3s;
        }

        .seeMore:hover {
            background: var(--accentColor1);
            transform: scale(.95);
        }

        .actionContainer,
        .comedyContainer,
        .crimeContainer,
        .documentaryContainer,
        .dramaContainer,
        .horrorContainer,
        .romanceContainer,
        .thrillerContainer,
        .warContainer {
            display: flex;
            width: calc(100% - 20% - var(--gapSpacingDesktop));
        }
    }

    .movieCard:hover {
        transform: rotate(2deg) scale(.98)
    }

    #moviePage {
        .backdrop {
            height: 65vh;
        }

        .movieTitle {
            width: 80%;
            font-size: 3rem;
            bottom: 20vh;
        }

        .movieInfo {
            grid-template-columns: .5fr 1fr 1fr;
            gap: var(--gapSpacingDesktop);

            .movieMetadata {
                grid-column: unset;
                border-top: unset;
                border-left: 2px solid var(--secondaryColor);
                padding: 0 var(--gapSpacingDesktop);

                display: block;

                .watchlistBtn {
                    width: unset;
                    margin-bottom: 20px;

                    i:hover {
                        transform: rotate(10deg) scale(.9);
                    }
                }
            }
        }

        h2 {
            text-align: left;
        }

        .directorSection {
            grid-column: 2/7;
        }

        .actorSection {
            grid-column: 7/12;
        }
    }
}